<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Demka1.Properties.Settings.DemkaConnectionString"
   connectionString="Data Source=DESKTOP-SRTCC3M\SQLEXPRESS;Initial Catalog=Demka;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>